@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.main {
    /* display: flex;
    justify-content: space-between;
    height: auto;
    width: auto; */
}
 



.sidebar {
  position: absolute;
  background: #0b86bf;
  min-height: 100vh;
  width: 20%;
  transition: transform .3s ease-out;
  z-index: 10;
}

.hamburger {
  cursor: pointer;
  /* width: 20%; */
  position: absolute;
  top: 15px;
  left: 19px;
  
}
.hamburger img{
  cursor: pointer;
  width: 1.99rem;
  max-width: 30px;
}

img.cross {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 1.3rem;
  max-width: 30px;
  /* margin: 10px 0px 0 20px; */
}

.logo {
    height: 7.9rem;
    width: 7.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 100px;
    background: #ffffff;
}
.sidebar .nav {
    display: flex;
    flex-direction: column;
}
.sidebar .nav a {
   margin: 10px 0;
   margin-left: 20%;
   width: 80%;
   height: 55px;
   border-radius: 10px 0 0 10px;
}
.sidebar .nav a button{
    letter-spacing: 3px;
    cursor:pointer;
    background: #0b86bf;
    width: 100%;
    height: 99%;
    border: none;
    text-align: left;
    padding-left:10px ;
    border-radius: 10px 0 0 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    /* padding-top: 10px; */

}
.sidebar .nav a:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    -webkit-box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
            box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
            border-right: none;
}


/* only chnage */

.sidebar .nav a#home{
    background-color: #fff;
    width: 91%;
    margin-left: 9%;
    border-radius: 10px 0px 0 10px;
    padding-left: 6px;
    margin-bottom: 10px;
}


.sidebar .nav a#home .home {
    background-color: #fff;
    width: 91%;
    color: black;
}
.sidebar.\.sidebarGo
{
  transform: translate(-100%, 0px);
  position: absolute;
}

@media (max-width:950px) {
  .sidebar {
    width: 70%;
  }
  .main_content {
    padding: 40px 10px 10px 0;
    flex-wrap: wrap;
  }
  /* .sidebar .nav a#home {
    margin-bottom: 5%;
  } */ 
}
@media (max-height:630px) {
  .sidebar {
    height: 200vh;
    max-height: 100%;
  }
  .main_content {
    height: 200vh;
    max-height: 150%;
  }
  
  
}


/* sidebar :end */

.mainContent {
    background: url("/images/bg.jpg");
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    margin: 0;
    padding: 100px;
    
}
.mainContent .quote  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.mainContent .quote .col1 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 100px 0;
    text-transform: capitalize;
}
.mainContent .quote .col2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 40px 0;
    text-transform: capitalize;
}
.mainContent .quote .col3 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.mainContent .btn
{
  position: relative;
  /* top: 200px; */
  bottom: -240px;
  float: inline-end;
  border: 2px solid rgb(162, 147, 147);
  border-radius: 5px;
  height: 60px;
  width: 160px;
  margin-bottom: 300px;
}
.mainContent a#letsgo {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 13px;
  
}
.mainContent a#letsgo .letsgo{
    cursor: pointer;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.2em;
}
.mainContent .btn:hover {
    background-color: transparent;
        border: 1px solid rgb(0, 255, 213);
        -webkit-box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
                box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

/* hover effect */

/* .main_content a#letsgo,.main_content a#letsgo::after {
    padding: 10px 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
  } */
  
  .mainContent .btn::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'GLITCH';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .mainContent .btn:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  .mainContent .btn:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  .mainContent .btn:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  
  }
