@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main {
    transition: .5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* .sidebar */

.sidebar {
    background: #0b86bf;
    height: 100vh;
    width: 20%;
}
.logo {
    height: 7.9em;
    width: 7.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:auto ;
    margin-top: 30px;
    margin-right:auto ;
    margin-bottom: 90px;
    border-radius: 100px;
    background: #ffffff;
}
.sidebar .nav {
    display: flex;
    flex-direction: column;
}
.sidebar .nav a {
   margin: 10px 0 0 0;
   /* border: 2px solid red; */
   margin-left: 15%;
   width: 85%;
   height: 55px;
   border-radius: 5px 0 0 5px;
}
.sidebar .nav a button{
    letter-spacing: 3px;
    cursor:pointer;
    background: #0b86bf;
    width: 100%;
   height: 99%;
    border: none;
    text-align: left;
    padding-left:10px ;
    border-radius: 5px 0 0 5px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;

}
.sidebar .nav a:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    -webkit-box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
            box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}


/* only chnage */

.sidebar .nav a#template{
    background-color: #fff;
    width: 91%;
    margin-left: 9%;
    border-radius: 10px 0px 0 10px;
    padding-left: 6px;
}


.sidebar .nav a#template .template {
    background-color: #fff;
    width: 91%;
    color: black;
}
/* navbar :end */